* {
    box-sizing: border-box;
}

:root {
   --green: rgb(24, 131, 54);
   --light-grey: rgb(155, 148, 148);
   --black: #000;
}

html {
    scroll-behavior: smooth; 
}

body {
    min-height: 100vh;
    margin:0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

input[type="radio"] {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
}

.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-item {
    width: 70%;
    margin-bottom: 1%;
    cursor: pointer;
}

.accordion-label {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    border: 4px double var(--green);
    border-radius: 10px;
    font-size: 1.4em;
    font-weight: bold;
    color: var(--light-grey);
    text-transform: uppercase;
    cursor: pointer;
}

input[type="radio"]:checked + .accordion-label {
    color: var(--black);
}

.accordion-label .title-icon {
    max-width: 1em;
}

.accordion-item__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: height 0.5s ease-in-out, visibility 0s linear 0.5s, opacity 0.5s linear;
}

.accordion-item__content img {
    width: 70%;
    margin:1em auto;
}

.accordion-item__content:active {
    cursor: crosshair;
}

.accordion-item__content:active img {
    filter: invert(80%);
}

input[type="radio"]:checked ~ .accordion-item__content,
.accordion-item:hover .accordion-label + .accordion-item__content,
.accordion-item:hover .accordion-label + .accordion-item__content img {
    height: 100%;
    visibility: visible;
    opacity: 1;
}

.title-icon {
    opacity: 0;
}

.accordion:hover .accordion-label{
    color: var(--black);
}

.accordion:hover .accordion-label .title-icon{
    opacity: 1;
    transition: all 0.5s linear;
}

input[type="radio"]:checked ~ .accordion-label .title-icon,
.accordion-label:hover .title-icon{
    transform: rotate(90deg);
}